@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.body{
    display:block;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.features-container{
    background-color: #fff;
}
.land-container{
    background-color: #fff;
}
.testimoninal-container{
    background-color: #fff;
}
.faq-container{
    background-color: #fff;
}
.footer-container{
    background-color: #fff;
}

.navbar{
    min-width: 100%;
    max-height: 10vh;
    background-color: transparent !important;
    position: sticky;
    top: 0;
}
.navbar-brand{
    font-size: 2rem;
    font-weight:bold;
    padding-inline: 1rem;
}
.navbar-brand span{
    color: #973320;
    font-weight: bolder;
    font-size: 3rem;
}
.nav-items-container{
    padding: 2px;
}
.nav-items-container ul{
    display: flex;
    list-style-type: none;
 
}
.nav-items{
    margin-right: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    margin-top: 10px;
    padding: 10px;
}
.nav-button{
    margin-right: 2rem;
    border-radius: 25px;
    background-color:#973320;
    border: #973320;
    margin-top: 8px;
    color: white;
    font-size: 0.9rem;
    padding: 10px;
    width: 5rem;
}


.features-Section h1{
    font-size: 42px;
    font-weight: 700;
    color: #38424d;
}
.features-Section img{
    height:500px;
    width: 400px;
}
.header-hero-content h1{
    font-weight: 2000;

}
.header-hero-content{
    padding-top: 30%;
    font-weight: bold;

}
.text span{
    color: #973320;
}
.btn{
    background-color: #973320 !important;
    border-color: #973320;
}
.btn:hover{
    background-color: #b8381e !important;
    border-color: #c94227;
}
 
.header-image img{
    margin:3.5rem 0rem 0rem -5rem;
}

.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid{
    display: grid;
    width: 114em;
    grid-gap: 4rem;
    grid-template-columns: auto auto auto;
    align-items: start;

}

.grid-title{
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

.grid-item .card{
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    width: 15rem;
    padding-inline: 1.5rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.grid-item .card p{
    font-size: 0.7em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card:hover{
    transform: translate(-0.5%);
    box-shadow: 0 4rem 8rem rgba(70, 33, 33, 0.5);
}
.card img{
    display: block;
    max-height: 13rem;
    max-width: 15rem;
}
.card h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}
.card p{
    font-size:1rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}
.faq-image-container{
    overflow: unset;
}
.faq-image-container img{
    height: 70%;
}

.faq-container .card{
    border:solid 1px rgba(151, 51, 32, 0.5);
    padding: 0;
}
.card-header{
    padding: 0;
}
.faq-button{
    padding: 1rem !important ;
    width: 100%;
    background-color:rgb(243, 216, 211) !important;
    
}
.faq-button .enIcon{
    position: absolute;
    right: 25px;
    top:1.3rem;
    transform: rotate(-90deg);
    fill: #973320;
  
}
.faq-button:hover{
    background-color:rgb(243, 216, 211) !important;
}
.faq-button h6{
    color: aliceblue;
}


.footer-start{
    min-height: 65vh;
    text-align: center;
}
.footer-middle{
    min-height:30vh;
    padding: 2rem;

}
.footer-middle .icons{
    fill: #973320;
    opacity: 0.7;
    
}
.footer-middle .icons:hover{
    opacity: 1;
}
.footer-middle ul{
    list-style-type: none;
}
.footer-middle .col-md-4 {
    padding: 2rem;
}
.footer-middle .col-md-4 .information{
    padding: 2rem;
}
.footer-middle .col-md-4 .information h2{
    font-weight: bolder;
}
.footer-middle .col-md-4 .information h2 span{
    color: #973320;
}
.footer-middle .col-md-4 ul{
    display: flex;
    margin-left: -4rem;
}
.footer-middle .col-md-4 li{
    margin-left: 2rem;
}
.footer-middle ul .li{
    margin-left: -2.0rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: lig;
    margin-top: 3px;
    padding: 7px;
}
.col-md-3{
    padding:2rem;
}
.col-md-3 .icons{
    margin-left: -12px;
    margin-right: 12px;
}
.col{
    padding:2rem;
}
.col h4{
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bolder;
}
.footer-end{
    bottom: 0;
    min-height: 5vh;
    text-align: center;
}